@charset "UTF-8";
/* pode fazer os ajustes que quiser */

/*body {background-image:url(OIP.jpg) ;}*/
body {background-image: linear-gradient(90deg, blue, red);}*/


h2 {color: chocolate;}
h3 {color: #034159;}